.wrapper {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
}

.tabs {
    position: relative;
    background: #1abc9c;
    height: 100%;
}
.tabs::before,
.tabs::after {
    content: "";
    display: table;
}
.tabs::after {
    clear: both;
}